/* 
    Document   : admin
    Created on : Aug 19, 2012, 3:29:50 PM
    Author     : secret
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#login_form{
    background: #f0f0f0;
    border: 1px solid white;
    margin: 10px;
    padding: 1em;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    -webkit-box-shadow: 0 0 8px #D0D0D0;
    -moz-box-shadow: 0 0 8px #D0D0D0;
}

#login_form input[type=text],#login_form input[type=password] {

margin: 0 0 1em 0;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

border: 1px solid #BBBBBB;
height: 20px;
color: #666666;

-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;

padding: 10px;
background-position: 10px 6px;

display: block;
width: 92%;

}

#login_form input[type=text]:focus,#login_form input[type=password]:focus {
outline: none;
border: 1px solid #77BACE;
-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

#login_form select {
width: 92%;
margin: 0 10px;
border: 1px solid #bbb;
height: 20px;
color: #666666;
}

#login_form label{
    font-weight: bold;
}

.sid_error {
display: block;
width: 92%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-position: 10px 10px;
border: 1px solid rgb(221,30,16);
background-color: rgb(255,235,232);
padding: 10px;
}

.sid_success {
display: block;
width: 92%;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-position: 10px 10px;
border: 1px solid rgb(177,224,135);
background-color: rgb(240,249,232);
padding: 10px;
}

.full_width_sid_error {
display: block;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-position: 10px 10px;
border: 1px solid rgb(221,30,16);
background-color: rgb(255,235,232);
padding: 10px;
}

.full_width_sid_success {
display: block;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-position: 10px 10px;
border: 1px solid rgb(177,224,135);
background-color: rgb(240,249,232);
padding: 10px;
}


.full_width_sid_warning {
display: block;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-position: 10px 10px;
border: 1px solid rgb(177,224,135);
background-color:#ffff99;
padding: 10px;
}


#tooltip{
    width:auto;
    max-width:300px;
    min-width:100px;
    border:1px solid;
    background:white;
    padding:5px;
    margin-top:4px;
    font-size:12px;
    color:dimgray;
}

#tooltip #ttimg.top{
    margin-top:-17px;
    margin-left:2px
}
#tooltip #ttimg.bottom{
    bottom:0;
    margin-bottom:-12px;
    margin-left:2px
}


#tooltip.default{
    border:3px solid white;
    background:whitesmoke;
    color:gray;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-top:2px;
}


#tooltip.default #ttimg.top{
	position:absolute;
		margin-top:-8px;
    margin-left:-8px
}
#tooltip.default #ttimg.bottom{
    position:absolute;
    bottom:0;
    margin-bottom:-3px;
    margin-left:-8px
}

.shadow{
    -webkit-box-shadow: 0 0 8px #aaaaaa;
    -moz-box-shadow: 0 0 8px #aaaaaa;
}


.ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
        height: 100px;
}

.total_div{
    right:20px;
    position: absolute;
    z-index: 10;

    -moz-box-shadow: 0 10px 5px #aaaaaa;
    -webkit-box-shadow: 0 10px 5px #aaaaaa;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

.arrow_up {
        
        
        margin-left:50%;
        
    
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
}

.chat_users{
    width: 105px;
    height: auto;
    padding: 20px;    
    /*background-image:url(../../images/admin/gradient.png);*/
    background: white;
    color: black;

    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    
   
}
.chat_users ul { list-style-image: url("../../template/admin/images/icn_profile.png"); }
.nice_button button {
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));

  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;

   -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;

  text-shadow: 0 -1px 1px #3275bc;
}

.nice_button button:hover {
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
}

.nice_button button:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  text-shadow: 0 -1px 1px #2361a4;
}

.nice_button button[disabled],
.nice_button button[disabled]:hover,
.nice_button button[disabled]:active {
  background: #999;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}