/*****************Jquery Schime**********************/
div{
   resize:both;
   overflow: auto;
}

#home{
    
  
    padding: 20px;


    position:relative;
    left: 50%;
    width:30em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;

    -moz-box-shadow:10px 10px 5px #888888;
    text-shadow:5px 5px 5px #888888;
    background-image: url(../images/gradient2.png);
    background-repeat: repeat-x;

    float: left;
}

#first{
    position: relative;
    height: 500px;
    width: 250px;
    padding: 20px;
   
    -moz-box-shadow:10px 10px 5px #888888;
    text-shadow:5px 5px 5px #888888;
    background-image: url(../images/gradient2.png);
    background-repeat: repeat-x;
    
    float: left;
}



#second{

    position: relative;
    height: 500px;
    width: 250px;
    padding: 20px;
    margin: 50px;
    -moz-box-shadow:10px 10px 5px #888888;
    text-shadow:5px 5px 5px #888888;
    background-image: url(../images/gradient.png);
    background-repeat: repeat-x;
    /*-moz-column-count:2;*/
    float: left;
}

#third{

    position: relative;
    height: 500px;
    width: 250px;
    padding: 20px;
    margin: 50px;
    -moz-box-shadow:10px 10px 5px #888888;
    text-shadow:5px 5px 5px #888888;
    background-image: url(../images/gradient2.png);
    background-repeat: repeat-x;
    float: left;
}
























/*****************************************/
/*******************schime 7**********************/
/*[title~="hello"]{
   color:maroon;
}

input[type="text"]{
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-family: serif;
    text-decoration: line-through;
}

input[type="button"]{
    width: 305px;
    height: 50px;
    display: block;
    font-style: oblique;
    
}


*/
/*schime 6*/
/*
div.img
{
  margin: 2px;
  border: 5px inset #005702;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}
div.img img
{
  display: inline;
  margin: 3px;
  border: 2px solid #ffffff;
}

div.img a:hover img {border: 2px  outset #00620C;}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
}

#navlist{position:relative;}
#navlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
#navlist li, #navlist a{height:44px;display:block;}

#home{left:0px;width:46px;}
#home{background:url('../images/img_navsprites.gif') 0 0;}

#prev{left:63px;width:43px;}
#prev{background:url('../images/img_navsprites.gif') -47px 0;}

#next{left:129px;width:43px;}
#next{background:url('../images/img_navsprites.gif') -91px 0;}











*/

/****************schime 5**************/
/*not_now_use_this#client{
   position: static;

    position: static;
    transform:rotate(45deg);
    -ms-transform:rotate(30deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(30deg);
    -o-transform:rotate(30deg); 
}

notnow_use_this_#client2{
    position: static;
    transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -o-transform:rotate(30deg); 

}*/

/*********************schime 4(a good one)************/
/*#client{
    height: 600px;
    width: 400px;
    margin: 100px;
    border: 20px inset #005702;
    outline:  #005702 dotted thick;
    padding: 20px;
}

p{
    text-indent: 20px;
    border-width: 5px;
    border-style: inset;
    border-color: #00620C;
    padding: 5px;
}
h1.align{
    text-align: center;
}*/

/********************schime 3****************************/
/*#customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#customers td, #customers th
{
font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#customers th
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#customers tr.alt td
{
color:#000000;
background-color:#EAF2D3;
}
*/
/**************Schime 2****************/
/*body{
    font-size: 100%;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color:#00620C;
}

p{
    text-indent: 50px;
    text-align: justify;
    font-size: 1em;
}

a{
    text-decoration: none;

}

a:active{
    color:black;
}

.a{
   
}
*/
/*************Schime 1*/

/*body
{
background-image:url('../images/gradient2.png');
background-repeat:repeat-x;
background-attachment: fixed;
}

h1{
    color: maroon;
}

hr{
color:navy;
}

a:visited{
 color:grey;
}
a:link{
    color:red;
}
a:hover{
color:yellow;
}
a:active{
    color:pink;
}

p{
    font-family: arial,black;
}

.middle{
    text-align: center;
}*/