/* 
    Document   : webstyle
    Created on : Jul 18, 2012, 10:20:43 AM
    Author     : secret
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

            div{
                float: left;
            }
            #menubar{
                border: 1px solid block;
                margin: 100px;
                padding: 20px;
                background-color: azure;
            }
            body{
                background-color: #D6D6FF;
            }